*,
*::before,
*::after {
  box-sizing: border-box;
}

:root {
  --clr-blue: #0065fc;
  --clr-light-blue: #deebff;
  --clr-grey: #f2f2f2;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: "Raleway", sans-serif;
  color: black;
  display: flex;
  flex-direction: column;
  align-items: center;
}

strong {
  font-weight: 700;
}

.container {
  max-width: 1300px;
}

/* .main {
  margin: 0 auto;
} */

/* ------HEADER-------- */
.header {
  width: 100%;
  display: flex;
  justify-content: center;
}

.header-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding: 15px 50px;
  /* margin-bottom: 30px; */
  /* margin: 0 auto; */
  /* margin-right: 40px;
  margin-left: 40px; */
}

.logo img {
  max-width: 100px;
}

.nav-item {
  color: black;
  text-decoration: none;
  position: relative;
}

.navigation :nth-child(2) {
  margin-left: 50px;
}

.nav-item:hover {
  color: var(--clr-blue);
}

.nav-item:hover::before {
  content: "";
  position: absolute;
  width: calc(100% + 58px);
  height: 3px;
  background: var(--clr-blue);
  left: -30px;
  top: -31px;
}

/* -------Search & filter ------ */
.search-wrapper {
  width: 100%;
}
.search__area {
  padding-left: 40px;
  padding-right: 40px;
}

.search__area-info h2 {
  margin-bottom: 0px;
}

.search__area-info p {
  margin-top: 10px;
  margin-bottom: 20px;
}

/* search bar */
.search__area-search-bar {
  max-width: 430px;
  /* max-width: 500px; */
  width: 100%;
  display: flex;
  align-items: center;
  margin-bottom: 20px;
}

.search-form {
  display: flex;
  margin-right: auto;
}

.search-form input {
  border: none;
  border-top: solid 2px var(--clr-grey);
  border-bottom: solid 2px var(--clr-grey);
  outline: none;
  padding: 15px 20px;
  font-weight: 700;
  max-width: 220px;
}

.search-form .btn {
  border: none;
  outline: none;
  background-color: var(--clr-blue);
  color: #fff;
  padding: 15px 20px;
  border-radius: 0 10px 10px 0;
  font-weight: 700;
  cursor: pointer;
}

.search__area-search-bar .icon-map {
  padding: 16px 20px;
  background-color: var(--clr-grey);
  border: solid 2px var(--clr-grey);
  border-radius: 10px 0 0 10px;
}

::placeholder {
  font-weight: 400;
}

.search-form .btn-glass {
  display: none;
}

/* Filters */

.search__area-filter {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  max-width: 900px;
  margin-top: 25px;
}

.filters {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
}

.filter-description {
  margin-right: 30px;
  margin-bottom: 5px;
  padding: 0;
}

.all-filters {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 100%;
}

.filter {
  display: flex;
  align-items: center;
  justify-content: space-between;
  cursor: pointer;
  padding-top: 0;
  height: 60px;
}

.filter-name {
  border: solid var(--clr-grey) 3px;
  border-radius: 50px;
  padding: 13px 20px 13px 58px;
}

.filter-icon {
  background-color: var(--clr-light-blue);
  color: var(--clr-blue);
  padding: 15px;
  border-radius: 50%;
  margin-right: -50px;
  z-index: 10;
  margin-left: 5px;
}

.all-filters :nth-child(2) .filter-icon {
  padding: 15px 18px;
}

.filter_info {
  display: flex;
  align-items: baseline;
  margin-top: 20px;
  margin-bottom: 20px;
}

.filter_info .icon-info {
  padding: 12px 10px;
  color: var(--clr-blue);
  border: solid 2px var(--clr-grey);
  border-radius: 50%;
  margin-right: 10px;
}

.filter:hover .filter-name {
  color: var(--clr-blue);
}

.filter:hover .filter-icon {
  background-color: var(--clr-grey);
}

/*---------Accommodations & popular----------- */

/* cards design*/

.card-accommodation,
.card-popular {
  background-color: #fff;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
  border-radius: 15px;
  transition: transform 400ms cubic-bezier(0.5, 0, 0.5, 0), opacity 250ms linear;
  padding: 5px;
}

.card-accommodation {
  width: 230px;
  height: 190px;
}

.card-popular {
  width: 100%;
  max-width: 350px;
  height: 140px;
}

.division {
  height: 100%;
  width: 100%;
  display: flex;
}

.card-accommodation a,
.card-popular a {
  color: black;
  text-decoration: none;
}

.card-accommodation-img,
.card-popular-img {
  overflow: hidden;
}

.card-accommodation-img {
  height: 58%;
}

.card-popular-img {
  max-width: 38%;
  min-width: 120px;
}

.card-accommodation-img img,
.card-popular-img img {
  object-fit: cover;
  width: 100%;
  height: 100%;
}

.card-accommodation-img img {
  object-position: center center;
  border-radius: 15px 15px 0 0;
}

.card-popular-img img {
  object-position: center center;
  border-radius: 15px 0 0 15px;
}

.card-accommodation-body,
.card-popular-body {
  padding: 15px;
}

.card-popular-body {
  padding-right: 30px;
}

.card-accommodation-title h4,
.card-popular-title h4 {
  margin-top: 0;
  margin-bottom: 0;
}

.card-accommodation-price p,
.card-popular-price p {
  font-size: 14px;
  margin-top: 3px;
  margin-bottom: 5px;
}

.card-accommodation-price .bold {
  font-weight: 700;
}

.card-accommodation-rating i,
.card-popular-rating i {
  color: var(--clr-blue);
}

.card-popular-rating i {
  margin-top: 40px;
}

.card-accommodation-rating .empty,
.card-popular-rating .empty {
  color: var(--clr-grey);
}

.card-accommodation:hover,
.card-popular:hover {
  transform: scale(1.05);
}

/* .tout-bleu-blanc .card-popular-img img {
  object-position: center center;
  width: 120%;
  height: 120%;
} */

/* cards section & aside design */
.accommodations-popular-set-wrapper {
  display: flex;
  justify-content: space-between;
  padding-right: 40px;
  padding-left: 40px;
}

.section-accommodations,
.aside-popular {
  border-radius: 15px;
  background-color: var(--clr-grey);
  padding: 30px;
  margin-bottom: 20px;
}

.section-accommodations {
  display: flex;
  flex-direction: column;
  width: 65%;
}

.aside-popular {
  width: 32%;
  display: flex;
  flex-direction: column;
}

.all-accommodations {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-bottom: 30px;
  row-gap: 20px;
  column-gap: 20px;
}

.section-accommodations h2,
.popular-info h2 {
  margin-top: 10px;
}

.section-accommodations h3 {
  cursor: pointer;
}

.popular-info {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
  margin-top: 0px;
}

.popular-info h2 {
  margin-right: auto;
}

.all-card-popular {
  height: 90%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  row-gap: 20px;
}

/*---------activities (in Marseille) ----------- */

.activities {
  margin-bottom: 35px;
  padding-right: 40px;
  padding-left: 40px;
}

.activities-container {
  display: flex;
  flex-flow: column wrap;
  height: 460px;
  align-content: space-between;
  justify-content: space-between;
}

.activity {
  width: 23%;
  /* height: 100%; */
  background-color: #fff;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
  border-radius: 15px;
  transition: transform 400ms cubic-bezier(0.5, 0, 0.5, 0), opacity 250ms linear;
  overflow: hidden;
}

.activities-container .large {
  height: 100%;
}

.activities-container .medium {
  height: 58%;
}

.activities-container .small {
  height: 34%;
}

.activity a {
  color: black;
  text-decoration: none;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.activity img {
  object-fit: cover;
}

.large img {
  height: 90%;
}

.medium img {
  height: 78%;
}

.small img {
  height: 62%;
  object-position: center -20px;
}

.activity h4 {
  margin: 0;
  padding: 20px;
}

.activity:hover {
  transform: scale(1.05);
}

.activities h2 {
  margin-top: 40px;
}

/*--------- Footer ----------- */

.footer {
  background-color: var(--clr-grey);
  width: 100%;
  display: flex;
  justify-content: center;
}

.footer-container {
  display: flex;
  justify-content: flex-start;
  padding-top: 20px;
  padding-bottom: 20px;
  width: 100%;
  padding-right: 40px;
  padding-left: 40px;
}

.footer-element {
  margin-right: auto;
}

.footer-element ul {
  padding-left: 0;
}

.footer-element li {
  list-style: none;
  padding: 5px 0;
  font-size: 14px;
}

.footer-element li a {
  text-decoration: none;
  color: inherit;
}

/* -----------Media queries----------- */
@media (max-width: 1315px) {
  /* accommodations */
  .accommodations-popular-set-wrapper {
    flex-direction: column;
  }

  .section-accommodations,
  .aside-popular {
    width: 100%;
  }

  .all-accommodations {
    justify-content: space-around;
  }

  .all-card-popular {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
  }

  .card-popular-img img {
    object-position: center center;
  }

  .card-accommodation {
    width: 280px;
    height: 210px;
  }

  .aside-popular {
    background-color: #fff;
  }

  .popular-info h2 {
    margin-right: 40px;
  }

  /* activities */
  .activity h4 {
    font-size: 14px;
  }

  .large img {
    height: 85%;
  }

  .medium img {
    height: 74%;
  }

  .small img {
    height: 54%;
  }
}

@media (max-width: 1210px) {
  .card-popular {
    max-width: 450px;
    height: 150px;
  }

  .card-popular-img {
    width: 40%;
  }

  .card-popular-body {
    padding-right: 15px;
    margin-left: 0;
  }

  /* .coeur-de-eau */

  .card-popular-rating i {
    margin-top: 70px;
  }

  .coeur-de-eau i {
    margin-top: 50px;
  }
}

@media (max-width: 1040px) {
  .all-card-popular {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
  }
}

@media (max-width: 992px) {
  /* accommodations et popular */

  .accommodation-popular-set {
    flex-direction: column;
  }

  .section-accommodations,
  .aside-popular {
    width: 100%;
  }

  .aside-popular {
    background-color: #fff;
  }

  .all-accommodations {
    justify-content: space-evenly;
  }

  /* activities */

  .activities {
    height: 900px;
  }

  .activities-container {
    flex-direction: row;
    max-height: 100%;
  }

  .activity {
    width: 45%;
    margin-bottom: 20px;
  }

  .activities-container .large,
  .activities-container .medium,
  .activities-container .small {
    height: 250px;
  }

  .large img,
  .medium img,
  .small img {
    height: 80%;
  }
}

@media (max-width: 768px) {
  /* Header */
  .header-wrapper {
    flex-direction: column;
  }

  .logo {
    margin-bottom: 40px;
  }

  .header-wrapper::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 3px;
    background: var(--clr-grey);
    top: 131px;
  }

  .nav-item:hover::before {
    top: 25px;
    width: 384px;
  }

  .nav-heb:hover::before {
    left: -250px;
  }

  /* search bar */

  .search-form .btn-glass {
    display: block;
    border-radius: 10px;
  }

  .search-form .btn-rechercher {
    display: none;
  }

  .search-form input {
    max-width: 180px;
  }

  /* filters */

  .filters {
    flex-direction: column;
    justify-content: flex-start;
  }

  /* cards section & aside design */

  .accommodations-popular-set-wrapper {
    padding-right: 0;
    padding-left: 0;
  }

  .accommodation-popular-set {
    flex-direction: column;
  }

  .section-accommodations,
  .aside-popular {
    max-width: 100%;
  }

  .section-accommodations,
  .aside-popular {
    padding-right: 40px;
    padding-left: 40px;
  }

  .aside-popular {
    order: -1;
    border-radius: 0px;
    background-color: var(--clr-grey);
  }

  .popular-info h2 {
    margin-right: auto;
  }

  .popular-info {
    padding-left: 0;
  }

  .card-popular-rating i {
    margin-top: 50px;
  }

  .card-popular,
  .card-accommodation {
    max-width: 340px;
  }

  .section-accommodations {
    background-color: #fff;
  }

  .card-accommodation {
    width: 100%;
    height: 190px;
  }

  .all-accommodations {
    justify-content: center;
    width: 100%;
  }

  /* activities */
  .activities {
    height: 1660px;
  }

  .activity {
    width: 340px;
  }

  .large img,
  .medium img,
  .small img {
    height: 70%;
  }

  .activity h4 {
    font-size: 18px;
  }

  .activities h2 {
    margin-top: 0px;
  }

  .activities-container {
    justify-content: center;
  }

  /* footer */
  .footer-container {
    flex-direction: column;
  }
}

@media (max-width: 470px) {
  .activities,
  .section-accommodations,
  .aside-popular,
  .search__area,
  .footer-container {
    padding-right: 20px;
    padding-left: 20px;
  }
}
